@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100vh;
  position: relative;
}

/* Add more styles as needed */

/* ct = custom */
.ct-top-menu-expanded {
  @apply absolute top-28 z-50 w-full bg-white border-2 border-solid border-gray-300 animate-slideDown;
}

.ct-top-menu-item {
  @apply cursor-pointer py-1 hover:text-dark-blue relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-dark-blue after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.ct-top-menu-item-active {
  @apply text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-dark-blue after:lg:h-0.5  after:lg:w-full;
}

.ct-icon {
  @apply w-6 h-6  inline-block;
}

.ct-footer-icon-text {
  @apply flex items-start flex-grow;
}

.ct-subheadline {
  @apply flex  justify-center items-center mb-4;
}
.ct-subheadline-deco-line {
  @apply w-10 h-px bg-dark-blue;
}
.ct-subheadline-label {
  @apply uppercase mx-4 tracking-widest text-tieu-de font-black text-[17px] text-center text-2xl;
}

.ct-input {
  @apply sm:w-[400px] w-auto mr-3 h-[40px] pl-3 rounded-2xl;
}

/* .ct-input::placeholder {
  @apply pl-3 mr-2
} */

/* Style for the validation message */
.ct-input:invalid + .validation-message::after {
  content: "✗ Vui lòng điền đầy đủ thông tin.";
  color: red;
  margin-left: 5px;
}

/* Hide validation message initially */
.validation-message::after {
  content: ""; /* Empty content initially */
  display: inline-block;
}

.ct-news-img {
  @apply w-[200px] h-[200px] mr-5;
}

.ct-banner-img {
  @apply w-full h-auto;
}

.ct-fb-img {
  @apply lg:w-[300px] lg:h-[400px] lg:rounded-full lg:mr-5 mr-0  rounded-3xl w-[200px] h-[300px] text-center;
}

.ct-fb-message {
  @apply border-2 rounded-full  lg:text-lg text-sm text-left w-full mt-3 p-14;
}

.ct-title {
  @apply mb-24;
}

.ct-fb-swiper-slider {
  @apply flex lg:flex-row  flex-col justify-start items-center sm:px-12;
}

.ct-ndkh-container {
  @apply border-2 iphone-400px:p-2  mb-16 p-2 text-sm iphone-400px:text-lg;
}

.ct-ndkh {
  @apply flex lg:flex-row gap-10  justify-between items-center sm:items-start sm:flex-nowrap flex-wrap;
}

.ct-ndkh-board {
  @apply flex flex-col items-start w-[80%] mx-auto;
}

.ct-ndkh-li-h1 {
  @apply font-black;
}

.ct-video-container {
  @apply flex lg:flex-row flex-col justify-center items-center lg:gap-4;
}

.ct-video {
  @apply lg:w-[400px] lg:h-[300px]  w-[300px] h-[300px] lg:py-12 py-8;
}

.ct-ndkh-ss {
  @apply lg:px-20 lg:py-10 py-6;
}
